<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap       = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id              = "com.sypherlabs.versafleet"
    version         = "1.0.0">
	
<name>VersaFleet</name>

<description>
VersaFleet
</description>

<author href="https://versafleet.sg" email="davidgong@sypherlabs.com">
David Gong
</author>

<icon src="icon_new.png" />
<gap:splash src="splash_new.png" />

<supports-screens android:anyDensity="true" android:resizeable="true" 
    android:smallScreens="true" 
    android:normalScreens="true" 
    android:largeScreens="true" 
    android:xlargeScreens="true" />

</widget>
