<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name> VDMS </name>

<description>
VersaFleet Dispatch Management System
</description>

<author href="https://example.com" email="you@example.com">
David Gong
</author>

<icon src="icon.png" />
<gap:splash src="splash.png" />

<supports-screens android:anyDensity="true" android:resizeable="true" 
    android:smallScreens="true" 
    android:normalScreens="true" 
    android:largeScreens="true" 
    android:xlargeScreens="true" />

</widget>
