/* CSS Document */

#body{
	align:center;
	}

#title {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size:20px;
	margin-top:0px;
}

.input{
	margin-left:10px;
    margin-right:auto;
}
	
#welcome-message{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size:12px;
}


#logout_button{
	padding-left:170px;
	margin-top:-10px;
}

#login_button{
	padding-left:60px;
	margin-top:25px;
}

#joborders_button{
	padding-left:20px;
	margin-top:-35px;
}

#table_contents {
	text-align: center;
}

#table_align{
	margin-top:5px;
}

#acknowledge_button{
	margin-top:40px;
	margin-left:65px;
}

#return_button{
	margin-top:40px;
	margin-left:90px;	
}