/* CSS Document */

#body{
	align:center;
	}

#title {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size:20px;
	margin-top:0px;
}

.input{
    margin-right:auto;
}

#logout_button{
	padding-left:170px;
	margin-top:-10px;
}

#joborders_button{
	padding-left:20px;
	margin-top:-35px;
}

#table_contents {
	text-align: center;
}

#table_align{
	margin-top:5px;
}

#buttons{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#return_button{
	margin-top:40px;
	margin-left:90px;	
}

.body_style{
	background-color:#B7E8E0;
}

a:link {text-decoration:none;
color:#999;}

a:visited {text-decoration:none;
color:#999;}

a:hover {text-decoration:none;
color:#999;}

a:active {text-decoration:none;
color:#999;}

#menu_button{
	width:10px;
}

ul{
list-style-type: none;
}

table{
border-collapse:collapse;
}